version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env
    volumes:
      - ./:/var/source   # ถ้าต้องการแมปโค้ดในเครื่องเข้า container (option)
    restart: unless-stopped
